body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "header header header" "contentspanel mappanel sidepanel" "footer footer footer"
}

header{
    height: 15vh;
    grid-area: header;
    justify-content: center;
    text-align: center;
    background-color: rgb(238, 193, 135);
}

footer{
    height: 10vh;
    grid-area:footer;
    justify-content: center;
    text-align: center;
    background-color: rgb(238, 193, 135);
}

#contents{
    grid-area: contentspanel;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(238, 193, 135);
}

#map{
    height:90vh;
    grid-area: mappanel;
} 

#survey {
    grid-area: sidepanel;
    overflow: hidden;
    /* 16:9 aspect ratio */
    padding-top: 0%;
    position: relative;
}

#survey iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}